h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}

.message-pas-suspect {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, sans-serif;
}

a {
    text-align: center;
}

a:link {
    align-self: center;
    text-align: center;
}