h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}

.message-pas-suspect {
	text-align: center;
	text-shadow: #000000;
	color: crimson;
    align-content: center;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, sans-serif;
}
